@model BlogViewModel

@{
    ViewData["Title"] = "User Profile";
}

<partial name="_BlogHeaderPartial" />

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h1 class="mb-5 text-center">Latest Blog Post</h1>
            @foreach (var post in Model.BlogPosts.Items)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="@Url.Action("Post", "Posts", new { username = Model.Author.User.UserName, slug = post.Slug })">
                        <h2 class="post-title">@post.Title</h2>
                        <img src="@(string.IsNullOrEmpty(post.CoverImageURL) ? Url.Content("~/assets/img/default-cover.png") : post.CoverImageURL)" alt="Post cover image" class="img-fluid mb-3" />
                        <h3 class="post-subtitle fs-6">@Html.Raw(HtmlHelpers.TruncateHtml(post.Content, 250))</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="@Url.Action("Blog", "Blogs", new { username = Model.Author.User.UserName })">@Model.Author.User.UserName</a>
                        on @post.CreatedDate.ToString("MMMM dd, yyyy")
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }

            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        @if (Model.BlogPosts.HasPrevious)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Blog", "Blogs", new { username = Model.Author.User.UserName, pageIndex = Model.BlogPosts.Index - 1, pageSize = Model.BlogPosts.Size })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }
                        @for (int i = 0; i < Model.BlogPosts.Pages; i++)
                        {
                            <li class="page-item @(i == Model.BlogPosts.Index ? "active" : "")">
                                <a class="page-link" href="@Url.Action("Blog", "Blogs", new { username = Model.Author.User.UserName, pageIndex = i, pageSize = Model.BlogPosts.Size })">@((i + 1).ToString())</a>
                            </li>
                        }
                        @if (Model.BlogPosts.HasNext)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("Blog", "Blogs", new { username = Model.Author.User.UserName, pageIndex = Model.BlogPosts.Index + 1, pageSize = Model.BlogPosts.Size })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/css/blog.css" rel="stylesheet">
}
